/*RESPONSIVIDADE*/

@media screen and (max-width:767px){

    .fixado{
        width: 100vw;
    }

    .fixado h1{
        font-size: 20px;
        margin: 20px 0px 0px 10px;
    }

    #previa p, .p1, mark{
        font-size: 19px;
    }

    .card, .img-divisao, .link-assisti{
        display: none;
    }

    .item{
        width: 95%;
        height: 400px;
    }
 
    .container .item .border{
        height: 320px;
    }

    .item h4{
        font-size: 22px;
    }

    .container .item p{
        text-align: justify;
        font-size: 19px;
        padding: 0;
        max-width: 80%;
        min-width: none;
        width: 100%;
        margin: 10px 0px 0px 40px;
    }

    /*Itens e border's com seus valores*/
    .container .item-capitao{
        height: 300px;
    }    
    .container .item .border-capitao{
        height: 220px;
    }

    .container .item-carter{
        height: 280px;
    }
    .container .item .border-carter{
        height: 180px;
    }

    .container .item-capita{
        height: 500px;
    }
    .container .item .border-capita{
        height: 420px;
    }

    .container .item-ferro2{
        height: 430px;
    }
    .container .item .border-ferro2{
        height: 370px;
    }

    .container .item .border-thor{
        height: 345px;
    }
}