/*RESPONSIVIDADE*/

@media screen and (max-width:767px){

    .fixado{
        width: 100vw;
    }

    .fixado h1{
        font-size: 20px;
        margin: 20px 0px 0px 10px;
    }

    #previa p, .p1, mark{
        font-size: 19px;
    }

    .card, .img-divisao, .link-assisti{
        display: none;
    }

    .item{
        width: 95%;
        height: 400px;
    }
 
    .container .item .border{
        height: 320px;
    }

    .item h4{
        font-size: 22px;
    }

    .container .item p{
        text-align: justify;
        font-size: 19px;
        padding: 0;
        max-width: 80%;
        min-width: none;
        width: 100%;
        margin: 10px 0px 0px 35.205px;
    }

    /*MODIFIÇAÇÕES DAS OUTRAS PÁGINAS*/
    .respon-intro{
        font-size: 2.3em;
        position: absolute;
        top: 70px;
    }

    .main-de-series{
        position: absolute;
        top: 200px;
    }
    .main-de-series section h2{
        font-size: 1.5em;
    }
    .main-de-series section article h3{
        font-size: 1.3em;
    }
    .main-de-series section article p{
        font-size: 1.2em;
    }
    .main-de-series .borda-series{
        min-height: 190px;
    }

    /*Itens e border's com seus valores*/

    /*CAPITÃO AMÉRICA*/
    .container .item-capitao{
        height: 300px;
    }    
    .container .item .border-capitao{
        height: 220px;
    }
    .container .item-capitao2{
        height: 490px;
    }
    .container .item .border-capitao2{
        height: 413px;
    }
    .container .item-capitao3{
        height: 300px;
    }
    .container .item .border-capitao3{
        height: 215px;
    }

    /*AGENTE CARTER*/
    .container .item-carter{
        height: 280px;
    }
    .container .item .border-carter{
        height: 180px;
    }

    /*CAPITÃ MARVEL*/
    .container .item-capita{
        height: 500px;
    }
    .container .item .border-capita{
        height: 420px;
    }

    /*HOMEM DE FERRO*/
    .container .item-ferro2{
        height: 430px;
    }
    .container .item .border-ferro2{
        height: 370px;
    }
    .container .item-ferro3{
        height: 285px;
    }
    .container .item .border-ferro3{
        height: 215px;
    }

    /*THOR*/
    .container .item .border-thor{
        height: 345px;
    }
    .container .item-thor2{
        height: 320px;
    }
    .container .item .border-thor2{
        height: 235px;
    }
    .container .item-thor3{
        height: 450px;
    }
    .container .item .border-thor3{
        height: 390px;
    }
    .container .item-thor4{
        height: 320px;
    }
    .container .item .border-thor4{
        height: 245px;
    }

    /*VINGADORES*/
    .container .item-vingadores{
        height: 423px;
    }
    .container .item .border-vingadores{
        height: 365px;
    }
    .container .item-vingadores2{
        height: 425px;
    }
    .container .item .border-vingadores2{
        height: 345px;
    }
    .container .item-vingadores3{
        height: 335px;
    }
    .container .item .border-vingadores3{
        height: 245px;
    }
    .container .item-vingadores4{
        height: 360px;
    }
    .container .item .border-vingadores4{
        height: 263px;
    }

    /*AGENTES*/
    .container .item-agentes{
        height: 295px;
    }
    .container .item .border-agentes{
        height: 170px;
    }

    /*GUARDIÕES DA GALÁXIA*/
    .container .item-guardioes{
        height: 410px;
    }
    .container .item .border-guardioes{
        height: 350px;
    }
    .container .item-guardioes2{
        height: 230px;
    }
    .container .item .border-guardioes2{
        height: 145px;
    }

    /*DEMOLIDOR*/
    .container .item-demolidor{
        height: 270px;
    }
    .container .item .border-demolidor{
        height: 213px;
    }

    /*JESSICA*/
    .container .item-jessica{
        height: 190px;
    }
    .container .item .border-jessica{
        height: 125px;
    }

    /*LUKE*/
    .container .item-luke{
        height: 225px;
    }
    .container .item .border-luke{
        height: 169px;
    }

    /*HOMEM FORMIGA*/
    .container .item-formiga{
        height: 300px;
    }
    .container .item .border-formiga{
        height: 235px;
    }
    .container .item-formiga2{
        height: 440px;
    }
    .container .item .border-formiga2{
        height: 350px;
    }

    /*PUNHO*/
    .container .item-punho{
        height: 210px;
    }
    .container .item .border-punho{
        height: 148px;
    }

    /*DEFENSORES*/
    .container .item-defenders{
        height: 180px;
    }
    .container .item .border-defenders{
        height: 109px;
    }

    /*INUMANOS*/
    .container .item-inumanos{
        height: 190px;
    }
    .container .item .border-inumanos{
        height: 108px;
    }

    /*VIUVA NEGRA*/
    .container .item-viuva{
        height: 310px;
    }
    .container .item .border-viuva{
        height: 235px;
    }

    /*HOMEM ARANHA*/
    .container .item-aranha{
        height: 500px;
    }
    .container .item .border-aranha{
        height: 415px;
    }
    .container .item-aranha3{
        height: 270px;
    }
    .container .item .border-aranha3{
        height: 170px;
    }

    /*DOUTOR ESTRENHO*/
    .container .item-estranho{
        height: 235px;
    }
    .container .item .border-estranho{
        height: 175px;
    }
    .container .item .border-estranho2{
        height: 260px;
    }

    /*PANTERA NEGRA*/
    .container .item-pantera{
        height: 290px;
    }
    .container .item .border-pantera{
        height: 220px;
    }

    /*JUSTICEIRO*/
    .container .item-justiceiro{
        height: 210px;
    }
    .container .item .border-justiceiro{
        height: 150px;
    }

    /*LOKI*/
    .container .item-loki{
        height: 220px;
    }
    .container .item .border-loki{
        height: 150px;
    }

    /*WHAT*/
    .container .item-what{
        height: 210px;
    }
    .container .item .border-what{
        height: 140px;
    }

    /*WANDAVISION*/
    .container .item-wanda{
        height: 215px;
    }
    .container .item .border-wanda{
        height: 150px;
    }


    /*FALCÃO E O SOLDADO INVERNAL*/
    .container .item-falcao{
        height: 295px;
    }
    .container .item .border-falcao{
        height: 195px;
    }

    /*SHANG-CHI E A LENDA DOS DEZ ANÉIS*/
    .container .item .border-shang{
        height: 280px;
    }

    /*SHE-HULK*/
    .container .item-she{
        height: 310px;
    }
    .container .item .border-she{
        height: 235px;
    }

    /*ETERNOS*/
    .container .item-eternos{
        height: 250px;
    }
    .container .item .border-eternos{
        height: 170px;
    }

    /*GAVIÃO ARQUEIRO*/
    .container .item-arqueiro{
        height: 210px;
    }
    .container .item .border-arqueiro{
        height: 130px;
    }

    /*CAVALEIRO DA LUA*/
    .container .item-lua{
        height: 260px;
    }
    .container .item .border-lua{
        height: 170px
    }

    /*MS. MARVEL*/
    .container .item .border-msmarvel{
        height: 320px;
    }
}

@media screen and (min-width:767px) and (max-width:1024px){
    .img-divisao{
        height: 295px;
        width: 100%;
    }

    .container .item p{
        max-height: 485px;
        overflow: scroll;
    }

    .link-assisti{
        position: absolute;
        left: 29%;
    }

    /*MODIFICAÇÕES DAS OUTRAS PÁGINAS*/
    .respon-intro{
        font-size: 4.8em;
        position: absolute;
        top: 120px;
    }
    .main-de-series{
        position: absolute;
        top: 200px;
    }
    
}

@media screen and (min-width:1024px) {
    .img-divisao{
        width: 100%;
    }
}