@import url('https://font.googleapis.com/css2?family=Poppins:wgth@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
 
body{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    color: white;
    background: linear-gradient(135deg, #0f0129, #01074b, #014a6b);
    background-attachment: fixed;

    min-height: 99.8%;
}

/*Menu*/

#menuToggle{
   display: block;
   position: fixed;
   top: 14px;
   left: 50px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
}
 
#menuToggle a{
   text-decoration: none;
   color: #000000;
   font-weight: bold;
   font-size: 14px;
   
   transition: color 0.3s ease;
}
 
#menuToggle a:hover{

   color: #0113da;
}
 
 
#menuToggle input{
   display: block;
   width: 40px;
   height: 32px;
   position: fixed;
   top: 9px;
   left: 50px;
   
   cursor: pointer;
   
   opacity: 0;
   z-index: 2;
   
   -webkit-touch-callout: none;
}
 
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 

 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }

 #menu
 {
   position: fixed;
   left: -300;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;

   background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
   
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
#menu li
{
   padding: 10px 0;
   font-size: 22px;
}
 
#menuToggle input:checked ~ ul {
   transform: none;
}

.fixado{
    text-align: center;
    position: fixed;
    top: 1px;
    width: 100%;
    height: 50px;
    margin: 0px;
    z-index: 2;

    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.fixado h1{
    position: absolute;
    right: 30px;
    top: -9px;
    font-size: 30px;
    font-style: italic;
    z-index: 3;
    margin: 15px 0px 0px 10px;
    float: right;
    text-decoration: underline;
} 

.fixado nav{
    position: fixed;
    top: 5px;
    left: 46px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 20px;
    border-radius: 6px;
    float: left;
}

.fixado nav:hover{
    position: fixed;
    top: 7px;
    left: 46px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 20px;
    border-radius: 6px;
    float: left;
}

/*Imagem de inicio*/

.imagem-de-inicio img{
    width: 100%; height: 25%;
    margin: 0;
    padding: 0;
}

/*Previa e conhecendo o universo*/

.previa{
    width: 80%;
    height: auto;
    margin: 0 auto 0 auto;
    position: relative;
}

#previa .p1, .p2, .p3, .p4{
    font-size: 23px;
    padding: 9px 5px;
    margin: 5px;
    text-align: justify;
}

#previa .p1{
    position: relative;
    left: center;
}

#previa .p2{
    position: relative;
    left: center;
}

#previa .p3{
    position: relative;
    left: center;

}

#previa .p4{
    position: relative;
    left: center;
}

mark{
    background-color: #0C6EF2;
    color: #ffffff;
    padding: 0px 4px 0px 4px;
}



#previa h2{
    color: #541EDE;
    font-weight: bold;
    font-size: 33px;
    font-family: Arial;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
strong{
    display: block;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    margin-top: 35px;
}

/*Lista cronológica de Séries e Filmes*/

.resaltar{
    color: #ffffff;
    font-size: 42px;
    font-style: italic;
    padding: 5px 5px;
    margin: 5px;
    text-align: center;
    border: 3px solid transparent;
    border-image: linear-gradient(45deg, #D80CE8, #790CF2, #1816DB, #0C6EF2, #0ECDEB);
    border-image-slice: 1;
}

.container{
    padding: 0px;
}

.container .item .border{
    background: rgba(54, 54, 54, 0.329);
    box-shadow: 0 8px 32px 0 rgba(33, 43, 185, 0.534);
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border: 3px solid transparent;
    border-image: linear-gradient(45deg, #D80CE8, #790CF2, #1816DB, #0C6EF2, #0ECDEB);
    border-image-slice: 1;
    
    
    height: 500px;
    margin: 20px;
    padding: 0px;
}

.container .item p{
    padding-left: 25px;
    float: left;
    max-width: 40%;
    min-width: 40%;
    width: 40%;
    font-size: 25px;
    font-weight: normal;
    margin-top: 5px; margin-bottom: -1px;
}

/*Link assisti*/

.link-assisti{
    position: absolute;
    left: 35%;
    background: #fff; /*aqui*/
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}

.link-assisti:hover{
    background: var(--crl);
    color: var(--crl);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--crl);
}

.link-assisti:before{
    content: '';
    position: absolute;
    inset: 2px;
    background: linear-gradient(135deg, #0f0129, #01074b, #014a6b);
}

.link-assisti span{
    position: relative;
    z-index: 1;
}

.link-assisti i{
    position: absolute;
    inset: 0;
    display: block;
}

.link-assisti i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #014a6b;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

a:hover i::before
{
    width: 20px;
    left: 20%;
}

.link-assisti i::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #01074b;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

a:hover i::after
{
    width: 20px;
    left: 80%;
}

/*Imagem de divisão*/

.img-divisao{
    overflow: hidden;
    height: 320px; width: 98.8vw;
    background-color: white;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.item{
    margin: 0 auto 0 auto;
    height: 660px;
    width: 90vw;
}

h4{
    border-left: 4px solid white;
    border-radius: 9px;
    padding-top: 5px;
    padding-left: 5.78px;
    margin: 5px;
    font-size: 40px;
    font-weight: 100;
    font-family: Lato;
    font-style: italic;
    letter-spacing: 3px;
}

/*Capa dos filmes e series*/

.item img{
    float: right;
    height: 330px; width: 240px;
    border-radius: 13px;
    position: absolute;
    left: 0%;
}

.item .border .card .card-back .social-icons a img{
    height: 25px;
    width: 25px;
}

.card{
    position: absolute;
    top: 50%;
    left: 80%;
    height: 330px;
    width: 240px;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.9s;
}
.card:hover .card-front{
    transform: rotateX(-180deg);
}
.card:hover .card-back{
    transform: rotateX(0deg);
}
.card-front{
    border-radius: 25px;
    height: 330px;
    width: 240px;
    position: absolute;
    top: 0;
    left: 0%;
    background-color: #000000;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transition: 0.9s;
    box-shadow: 0px 0px 25px #ffffff;
}

.card-front img{
    border-radius: 20px;
}

.card-back{
    border-radius: 25px;
    height: 330px;
    width: 240px;
    position: absolute;
    top: 0;
    left: 0%;
    background-color: #000000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.9s;
    color: #ffffff;
    text-align: center;
    box-shadow: 10px 10px 30px black;
}
.card-back h2{
 margin-top: 100px;
}
.card-back h2 span{
    font-size: 20px;
}
.card-back a{
    height: 28.5px;
    width: 28.5px;
    padding: 5px 9px 9px 5px;
    border-radius: 4px;
    line-height: 20px;
    position: absolute;
    left: 45%;
    top: 50%;
}

.social-icons img{
    position: absolute;
    left: 8.5%;
    top: 8%;
}

.card-back a:hover{
    color: #000000;
    background-color: #fff;
}

/*Capitão América: O Primeiro Vingador*/

.img_capitao{
    background-image: url('img/imgfundo/capitao.png');
}

.img_capitao2{
    background-image: url('img/imgfundo/capitao2.webp');
}

.img_capitao3{
    background-image: url('img/imgfundo/capitao3.jpg');
}


/*Agente Carter*/

.img_carter{
    background-image: url('img/imgfundo/carter.webp');
}

/*Capita Marvel*/

.img_capita{
    background-image: url('img/imgfundo/capita.jpg');
}

/*Homem De Ferro*/

.img_ferro{
    background-image: url('img/imgfundo/ferro.jpg');
}

.img_ferro2{
    background-image: url('img/imgfundo/ferro2.jpg');
}

.img_ferro3{
    background-image: url('img/imgfundo/ferro3.jpeg');
}

/*Hulk*/

.img_hulk{
    background-image: url('img/imgfundo/hulk.jpg');
}

/*Thor*/

.img_thor{
    background-image: url('img/imgfundo/thor.jpg');
}

.img_thor2{
    background-image: url('img/imgfundo/thor2.jpg');
}

.img_thor3{
    background-image: url('img/imgfundo/thor3.jpg');
}

.img_thor4{
    background-image: url('img/imgfundo/thor4.jpg');
}

/*Vingadores*/

.img_vingadores{
    background-image: url('img/imgfundo/vingadores.jpg');
}

.img_vingadores2{
    background-image: url('img/imgfundo/vingadores2.jpeg');
}

.img_vingadores3{
    background-image: url('img/imgfundo/vingadores3.jpg');
}

.img_vingadores4{
    background-image: url('img/imgfundo/vingadores4.jpg');
}

.img_agentes{
    background-image: url('img/imgfundo/agentes.jpg');
}

/*Guardiões da Galáxia*/

.img_guardioes{
    background-image: url('img/imgfundo/guardioes.jpg');
}

.img_guardioes2{
    background-image: url('img/imgfundo/guardioes2.jpeg');
}

/*Demolidor*/

.img_demolidor{
    background-image: url('img/imgfundo/demolidor.jpg');
}

/*Jessica Jones*/

.img_jessica{
    background-image: url('img/imgfundo/jessica.jpg');
}

/*Luke Cage*/

.img_luke{
    background-image: url('img/imgfundo/luke.webp');
}

/*Punho de Ferro*/

.img_punho{
    background-image: url('img/imgfundo/punho.jpg');
}

/*Defensores*/

.img_defenders{
    background-image: url('img/imgfundo/defensores.jpg');
}

/*Inumanos*/

.img_inumanos{
    background-image: url('img/imgfundo/inumanos.jpg');
}

/*Justiceiro*/

.img_justiceiro{
    background-image: url('img/imgfundo/justiceiro.webp');
}

/*Homem Formiga*/

.img_formiga{
    background-image: url('img/imgfundo/formiga.webp');
}

.img_formiga2{
    background-image: url('img/imgfundo/formiga2.jpg');
}

/*Viuva Negra*/

.img_viuva{
    background-image: url('img/imgfundo/viuva.jpg');
}

/*Homem Aranha*/

.img_aranha{
    background-image: url('img/imgfundo/aranha.jpg');
}

.img_aranha2{
    background-image: url('img/imgfundo/aranha2.webp');
}

.img_aranha3{
    background-image: url('img/imgfundo/aranha3.webp');
}

/*Doutor Estranho*/

.img_estranho{
    background-image: url('img/imgfundo/estranho.jpg');
}

.img_estranho2{
    background-image: url('img/imgfundo/estranho2.jpg');
}

/*Pantera Negra*/

.img_pantera{
    background-image: url('img/imgfundo/pantera.jpeg');
}

/*Loki*/

.img_loki{
    background-image: url('img/imgfundo/loki.png');
}

/*What If...?*/

.img_what{
    background-image: url('img/imgfundo/what.webp');
}

/*Wanda*/

.img_wanda{
    background-image: url('img/imgfundo/wanda.jpg');
}

/*Falcão e o Soldado Invernal*/

.img_falcao{
    background-image: url('img/imgfundo/falcão.jpeg');
}

/*Shang-Chi e a Lenda dos Dez Anéis*/

.img_shang{
    background-image: url('img/imgfundo/shang.webp');
}

/* She-Hulk */

.img_she-hulk{
    background-image: url('img/imgfundo/she-hulk.png');
}

/*Eternos*/

.img_eternos{
    background-image: url('img/imgfundo/eternos.jpg');
}

/*Gavião Arqueiro*/

.img_arqueiro{
    background-image: url('img/imgfundo/arqueiro.jpg');
}

/*Cavaleiro da Lua*/

.img_lua{
    background-image: url('img/imgfundo/lua.jpg');
}

/*Ms. Marvel*/

.img_msmarvel{
    background-image: url('img/imgfundo/msmarvel.jpg');
}
